<a href="#" data-bs-toggle="modal" data-bs-target="#ea-text-editor-{{ field.uniqueId }}">
    <i class="far fa-file-alt"></i> View content
</a>

<div class="modal fade" id="ea-text-editor-{{ field.uniqueId }}" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ field.label.message | capitalize }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                {{ field.value | raw }}
            </div>
        </div>
    </div>
</div>