{% apply inline_css(source('@styles/email.min.css')) %}
<!DOCTYPE html>
<html lang="{{ local }}" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="x-apple-disable-message-reformatting">

  <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Quicksand:400,500&display=swap" rel="stylesheet">

  <title>{{ title }}</title>
  <!--[if mso]>
    <xml>
      <o:OfficeDocumentSettings>
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
    <style>
      table {border-collapse: collapse;}
      td,th,div,p,a {font-size: 16px; line-height: 26px;}
      .spacer,.divider,div,p,a,h1,h2,h3,h4,h5,h6 {mso-line-height-rule: exactly;}
      td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family:"Segoe UI",Helvetica,Arial,sans-serif;}
    </style>
  <![endif]-->
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" yahoo="fix" bgcolor="#E9EBEE" style="box-sizing:border-box;margin:0;padding:0;width:100%;word-break:break-word;-webkit-font-smoothing:antialiased;">

  <div lang="{{ local }}" style="display:none;font-size:0;line-height:0;">
    {{ title }}
  </div>

  {% include 'emails/logo.html.twig' %}
  {% include 'emails/banner.html.twig' %}

  {% block content %}{% endblock %}

  {% include 'emails/contact.html.twig' %}
  {% include 'emails/footer.html.twig' %}

</body>

</html>
{% endapply %}