<!-- Section : Content -->
<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tr>
      <td align="center" bgcolor="#F5F5F5">
        <!-- 500px Box -->
        <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="500">
          <tr>
            <td class="col px-sm-30 py-sm-30" align="left" bgcolor="#FFFFFF" style="padding:50px 50px 30px 50px;">
              <!-- Content -->
              <table cellpadding="0" cellspacing="0" role="presentation" width="100%" >
                <tr>
                  <td class="col" width="400"" align="left">
                    <h1 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 28px;line-height: 28px;font-weight: 400; color:#292929;margin: 0; margin-bottom: 10px;">
                      Hey, This is your Weekly
                    </h1>
                    <h1 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 44px;line-height: 44px;font-weight: 500; color:#292929;margin: 0; margin-bottom: 15px;">
                      Blog Articles
                    </h1>
                    <p style="font-family: 'Karla', Arial, sans-serif;font-size: 14px;line-height: 21px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;">
                      Hi Matthew! We have top posts for you from UI/UX Design, Farming for Tomorrow, Sustainable Urban Planning& more…
                    </p>
                  </td>
                </tr>
              </table>
              <!-- end Content -->
            </td>
          </tr>
        </table>
        <!-- end 500px box -->       
      </td>
    </tr>
  </table>
  <!-- end Section : content -->