{% extends "emails/base.html" %}
{% block content %}
<!-- Section : Content -->
<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td align="center" bgcolor="#F5F5F5">
      <!-- 500px Box -->
      <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="500">
        <tr>
          <td class="col px-sm-30 py-sm-30" align="left" bgcolor="#FFFFFF" style="padding:50px 50px 30px 50px;">
            <!-- Content -->
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%" >
              <tr>
                <td class="col" width="400"" align="left">
                  <h1 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 28px;line-height: 28px;font-weight: 400; color:#292929;margin: 0; margin-bottom: 10px;">
                    Hey, This is your Weekly
                  </h1>
                  <h1 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 44px;line-height: 44px;font-weight: 500; color:#292929;margin: 0; margin-bottom: 15px;">
                    Blog Articles
                  </h1>
                  <p style="font-family: 'Karla', Arial, sans-serif;font-size: 14px;line-height: 21px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;">
                    Hi Matthew! We have top posts for you from UI/UX Design, Farming for Tomorrow, Sustainable Urban Planning& more…
                  </p>
                </td>
              </tr>
            </table>
            <!-- end Content -->
          </td>
        </tr>
      </table>
      <!-- end 500px box -->       
    </td>
  </tr>
</table>
<!-- end Section : content -->



<!-- Section : Articls -->
<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td align="center" bgcolor="#F5F5F5">
      <!-- 500px Box -->
      <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="500">
        <tr>
          <td class="col px-sm-30 pb-sm-30" width="400" align="left" bgcolor="#FFFFFF" style="padding:0px 50px 30px 50px;border-bottom-right-radius: 6px; border-bottom-left-radius: 6px;">
            <!-- Content -->
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%" >

              <!-- Article 1 -->
              <tr>
                <td colspan="2" class="col " width="100%" style="padding: 20px 0;">
                  <p style="font-family: 'Karla', Arial, sans-serif;font-size: 14px;line-height: 21px;font-weight: 400; color:#006CF5; margin: 0; margin-bottom: 5px ;">
                    UX/UI Design
                  </p>
                  <a href="#" style="text-decoration: none;">
                    <h3 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 18px;line-height: 24px;font-weight: 500; color:#292929;margin: 0; margin-bottom: 5px;">
                      Tiny Habits: The Small Changes That Change Everything.
                    </h3>
                  </a>
                  <p style="font-family: 'Karla', Arial, sans-serif;font-size: 14px;line-height: 21px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;">
                    WIRED, by <span style="color: #292929;">Margaret Rhodes</span> 
                  </p>
                </td>
              </tr>

              <!-- Article 2 -->
              <tr>
                <td colspan="2" class="col " width="100%" style="padding: 20px 0;">
                  <p style="font-family: 'Karla', Arial, sans-serif;font-size: 14px;line-height: 21px;font-weight: 400; color:#FF4133; margin: 0; margin-bottom: 5px ;">
                    iOS Development
                  </p>
                  <a href="#" style="text-decoration: none;">
                    <h3 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 18px;line-height: 24px;font-weight: 500; color:#292929;margin: 0; margin-bottom: 5px;">
                      Apple TV Login + Android - Behance Tech.
                    </h3>
                  </a>
                  <p style="font-family: 'Karla', Arial, sans-serif;font-size: 14px;line-height: 21px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;">
                    WIRED, by <span style="color: #292929;">Margaret Rhodes</span> 
                  </p>
                </td colspan="2">
              </tr>

              <!-- Article 3 -->
              <tr>
                <td class="col " width="270" style="padding: 20px 0;">
                  <p style="font-family: 'Karla', Arial, sans-serif;font-size: 14px;line-height: 21px;font-weight: 400; color:#89C5CC; margin: 0; margin-bottom: 5px ;">
                    Farming for Tomorrow
                  </p>
                  <a href="#" style="text-decoration: none;">
                    <h3 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 18px;line-height: 24px;font-weight: 500; color:#292929;margin: 0; margin-bottom: 5px;">
                      New law in Italy would force supermarkets to donate unsold food to those in need.
                    </h3>
                  </a>
                  <p style="font-family: 'Karla', Arial, sans-serif;font-size: 14px;line-height: 21px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;">
                    WIRED, by <span style="color: #292929;">Margaret Rhodes</span> 
                  </p>
                </td>
                <td class="col hide-sm" width="120" style="padding: 20px 0 20px 10px;">
                  <a href="#" style="text-decoration: none;">
                    <img src="https://dummyimage.com/120x112/D6DAE3/000" alt="article thumb" style="width: 120px; max-width: 100%;">
                  </a>
                </td>
              </tr>

              <!-- Article 4 -->
              <tr>
                <td class="col " width="270" style="padding: 20px 0; vertical-align: middle;">
                  <p style="font-family: 'Karla', Arial, sans-serif;font-size: 14px;line-height: 21px;font-weight: 400; color:#FF9B21; margin: 0; margin-bottom: 5px ;">
                    Personal Developpment
                  </p>
                  <a href="#" style="text-decoration: none;">
                    <h3 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 18px;line-height: 24px;font-weight: 500; color:#292929;margin: 0; margin-bottom: 5px;">
                      Whether Your Goals Are Big or Small, It’s Important to Measure Your Progress
                    </h3>
                  </a>
                  <p style="font-family: 'Karla', Arial, sans-serif;font-size: 14px;line-height: 21px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;">
                    WIRED, by <span style="color: #292929;">Margaret Rhodes</span> 
                  </p>
                </td>
                <td class="col hide-sm" width="120" style="padding: 20px 0 20px 10px; vertical-align: middle;">
                  <a href="#" style="text-decoration: none;">
                    <img src="https://dummyimage.com/120x112/D6DAE3/000" alt="article thumb" style="width: 120px; max-width: 100%;">
                  </a>
                </td>
              </tr>
            </table>
            <!-- end Content -->
          </td>
        </tr>
      </table>
      <!-- end 500px box -->       
    </td>
  </tr>
</table>
<!-- end Section : Articls->
{% endblock %}