{% extends "emails/base.html" %}
{% block content %}
<!-- Section : Content -->
<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td align="center" bgcolor="#F5F5F5">
      <!-- 500px Box -->
      <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="500">
        <tr>
          <td class="col px-sm-30 py-sm-30" align="left" bgcolor="#FFFFFF" style="padding:50px 50px;">
            <!-- Content -->
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%" >
              <tr>
                <td class="col" width="400"" align="left">
                  <h1 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 28px;line-height: 28px;font-weight: 400; color:#292929;margin: 0; margin-bottom: 10px;">
                    Congrats on a
                  </h1>
                  <h1 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 44px;line-height: 44px;font-weight: 500; color:#FF9B21;margin: 0; margin-bottom: 15px;">
                    Great Month
                  </h1>
                  <div class="spacer py-sm-10" style="line-height: 20px;">‌</div>
                  <h3 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 18px;line-height: 18px;font-weight: 400; color:#292929;margin: 0; margin-bottom: 10px;">
                    You’re doing awesome, Smiles Davis
                  </h3>
                  <p style="font-family: 'Karla', Arial, sans-serif;font-size: 16px;line-height: 22px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;">
                    Here’s a look back at your accomplishments last month, plus tips on how to make the most of your time while delivering. Now let’s get moving!
                  </p>
                  <div class="spacer py-sm-10" style="line-height: 40px;">‌</div>
                  <table cellpadding="0" cellspacing="0" role="presentation" width="100%" bgcolor="#FAFAFA">
                    <tr>
                      <td class="col" width="360" style="padding:30px 20px">
                        <!-- Views -->
                        <table cellpadding="0" cellspacing="0" role="presentation">
                          <tr>
                            <td class="col pb-sm-20" width="30">
                              <img src="images/eye.png" alt="eye icon" style="width: 25px; max-width: 25px;">
                            </td>
                            <td class="col pl-sm-0" width="310" style="padding-left: 20px;">
                              <table cellpadding="0" cellspacing="0" role="presentation">
                                <tr>
                                  <td class="col pb-sm-10" width="180">
                                    <h3 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 18px;line-height: 18px;font-weight: 400; color:#7E7E7E;margin: 0; margin-bottom: 10px;">
                                      Views :
                                    </h3>
                                    <h1 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 44px;line-height: 44px;font-weight: 500; color:#292929;margin: 0; margin-bottom: 0px;">
                                      1.07 M
                                    </h1>
                                  </td>
                                  <td class="col text-sm-left" width="130" style="vertical-align: bottom;" align="right">
                                    <p style="font-family: 'Karla', Arial, sans-serif;font-size: 12px;line-height: 18px;font-weight: 400; color:#292929; margin: 0; margin-bottom: 0px ; ">
                                      +38K views
                                    </p>
                                    <p style="font-family: 'Karla', Arial, sans-serif;font-size: 12px;line-height: 18px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ; ">
                                      last month
                                    </p>
                                  </td>
                                </tr>
                              </table>
                              <div class="spacer py-sm-10" style="line-height: 20px;">‌</div>
                              <h3 class="sm-hero-text" style="font-family: 'karla', Helvetica, sans-serif ;font-size: 14px;line-height: 14px;font-weight: 600; color:#292929;margin: 0; margin-bottom: 5px;">
                                Pro tip:
                              </h3>
                              <p style="font-family: 'Karla', Arial, sans-serif;font-size: 12px;line-height: 18px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;">
                                Here’s a look back at your accomplishments last month, plus tips on how to make the most of your time while delivering. Now let’s get moving!
                              </p>
                              <div class="spacer py-sm-10" style="line-height: 20px;">‌</div>
                              <div style="background: #E6E6E6; height: 1px; line-height: 1px;">‌</div>
                            </td>
                          </tr>
                        </table>
                        <!-- end Views -->
                        <!-- Likes -->
                        <table cellpadding="0" cellspacing="0" role="presentation">
                          <tr>
                            <td class="spacer py-sm-10" height="20"></td>
                          </tr>
                          <tr>
                            <td class="col pb-sm-20" width="30">
                              <img src="images/heart.png" alt="heart icon" style="width: 27px; max-width: 27px;">
                            </td>
                            <td class="col pl-sm-0" width="310" style="padding-left: 20px;">
                              <table cellpadding="0" cellspacing="0" role="presentation">
                                <tr>
                                  <td class="col pb-sm-10" width="180">
                                    <h3 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 18px;line-height: 18px;font-weight: 400; color:#7E7E7E;margin: 0; margin-bottom: 10px;">
                                      Likes :
                                    </h3>
                                    <h1 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 44px;line-height: 44px;font-weight: 500; color:#292929;margin: 0; margin-bottom: 0px;">
                                      66
                                    </h1>
                                  </td>
                                  <td class="col text-sm-left" width="130" style="vertical-align: bottom;" align="right">
                                    <p style="font-family: 'Karla', Arial, sans-serif;font-size: 12px;line-height: 18px;font-weight: 400; color:#292929; margin: 0; margin-bottom: 0px ; ">
                                      +38K likes
                                    </p>
                                    <p style="font-family: 'Karla', Arial, sans-serif;font-size: 12px;line-height: 18px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ; ">
                                      last month
                                    </p>
                                  </td>
                                </tr>
                              </table>
                              <div class="spacer py-sm-10" style="line-height: 20px;">‌</div>
                              <div style="background: #E6E6E6; height: 1px; line-height: 1px;">‌</div>
                            </td>
                          </tr>
                        </table>
                        <!-- end Likes -->
                        <!-- Downloads -->
                        <table cellpadding="0" cellspacing="0" role="presentation">
                          <tr>
                            <td class="spacer py-sm-10" height="20"></td>
                          </tr>
                          <tr>
                            <td class="col pb-sm-20" width="30">
                              <img src="images/download.png" alt="download icon" style="width: 27px; max-width: 27px;">
                            </td>
                            <td class="col pl-sm-0" width="310" style="padding-left: 20px;">
                              <table cellpadding="0" cellspacing="0" role="presentation">
                                <tr>
                                  <td class="col pb-sm-10" width="180">
                                    <h3 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 18px;line-height: 18px;font-weight: 400; color:#7E7E7E;margin: 0; margin-bottom: 10px;">
                                      Downloads :
                                    </h3>
                                    <h1 class="sm-hero-text" style="font-family: 'Quicksand', Helvetica, sans-serif ;font-size: 44px;line-height: 44px;font-weight: 500; color:#292929;margin: 0; margin-bottom: 0px;">
                                      5.83 K
                                    </h1>
                                  </td>
                                  <td class="col text-sm-left" width="130" style="vertical-align: bottom;" align="right">
                                    <p style="font-family: 'Karla', Arial, sans-serif;font-size: 12px;line-height: 18px;font-weight: 400; color:#292929; margin: 0; margin-bottom: 0px ; ">
                                      +38K Downloads
                                    </p>
                                    <p style="font-family: 'Karla', Arial, sans-serif;font-size: 12px;line-height: 18px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ; ">
                                      last month
                                    </p>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!-- end downloads -->
                      </td>
                    </tr>
                  </table>
                  <div class="spacer py-sm-20" style="line-height: 30px;">‌</div>
                  <!-- button -->
                  <table class="align-sm-center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tr>
                      <th bgcolor="#FF9B21" style="border-radius: 3px; line-height: 100%; mso-padding-alt: 5px 50px 10px;">
                        <a href="{{ gift_card.url }}" style="font-family: 'Lato', Arial, sans-serif;color: #FFFFFF;font-weight: 400; display: block; font-size: 16px; padding: 13px 20px; text-decoration: none;">More Details</a>
                      </th>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!-- end Content -->
          </td>
        </tr>
      </table>
      <!-- end 500px box -->       
    </td>
  </tr>
</table>
<!-- end Section : content -->
{% endblock %}